site_name: reproscreener
repo_url: https://github.com/Machine-Learning-Pipelines/reproscreener/

extra:
  versions:
    python: 3.9.13
    reproscreener: 0.1.2

extra_css:
  - stylesheets/extra.css

nav:
  - Home: index.md
  - Installation: installation.md
  - Usage: usage.md
  - Manual evaluation datasets: manual_evaluation_explorer.ipynb
  - Case studies: evaluation_results.ipynb
  - Architecture: docstrings.md
  - References: z_references.md
  - License: license.md
  - Funding: funding.md

theme:
  name: material
  palette:
    scheme: default
    primary: indigo
    accent: indigo
  # font: 
  #   text: Roboto
  #   code: Roboto Mono
  features:
    - toc.follow
    - toc.integrate
    - navigation.top
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - content.code.copy

plugins:
  - marimo
  - autorefs
  - mkdocs-jupyter:
      theme: light
      execute: false
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          paths: [src/reproscreener/]
  - bibtex:
      bib_file: "docs/references.bib"
      csl_file: "https://raw.githubusercontent.com/citation-style-language/styles/master/acm-sig-proceedings.csl"
      # cite_inline: True
  - search
  - macros

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true 
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.details
  - footnotes
  - admonition


