name: ci

on: [push, pull_request]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9.13'

      - name: Check-out repository
        uses: actions/checkout@v2

      - name: Install poetry
        uses: snok/install-poetry@v1

      - name: Install dependencies
        run: poetry install 

      - name: Install pandoc stuff
        run: sudo apt-get install pandoc pandoc-citeproc

      - name: Run tests
        run: poetry run pytest tests/ --cov=reproscreener --cov-report=xml

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3
        with:
          files: ./coverage.xml

      # - name: Build docs to gh-pages branch
      #   run: poetry run mike deploy --branch gh-pages --deploy_prefix docs --push --update-aliases