name: ci 
on:
  push:
    branches:
      - master 
      - main
      - dev
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - run: sudo apt-get install pandoc pandoc-citeproc
      - run: pip install mkdocs-material mkdocstrings-python mkdocs-bibtex mkdocs-jupyter mkdocs-macros-plugin[test]
      - run: mkdocs gh-deploy --force
      - uses: codecov/codecov-action@v3
